
body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.4;
  line-height: 1.4;
}

.border-block {
  border: 1px solid red;
}

.section-block {
  border: 1px solid blue;
  background-color: red;
}

.menuItem {
  color: #798699 !important;
}

.appbar {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3) !important;
}

.bg-primary {
  /*background-color: #1e88e5;*/
  background-color: #2196f3;
  /*background-color: #3f51b5;*/
}

.bg-secondary {
  background-color: gray;
  color: white !important;
}

.color-white {
  color: white !important;
}

.message {
  padding: 10px;
  background-colorx: #F0F0F0;
  border: 1px solid lightgray;
}

.toolbar{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%) !important;
  color: #9d9d9d !important;
}

.btn-white {
  background-color: white!important;
}

.checkbox-label {
  margin:0!important;
  padding: 10px!important;
}

button {
  border-radius: 0!important;
}

.icon-sm {
  font-size: 15px!important;
}

.nav-wrapper {
  border-right: 1px solid lightgray;
  min-height: 1000px;
}

.img-bordered {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  width: 100%;
}

.box-heading {
  color: #fff;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%) !important;
  border-color: #4cae4c;
  font-weight: bold;
  font-size: 1em;
  height: 40px;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  vertical-align: middle;
  line-height: 1.7;
  height: 113px;
  color: #9d9d9d !important;
  font-size: 14px;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

.footer-contact {
  vertical-align: middle;
  padding: 10px;
  font-size: 13px;
  color: black;
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}

.menu-link {
  text-decoration: none;
  color: #9d9d9d !important;
}
